# Settings for tracker and object detection
# You can also use parameters listed in https://docs.ultralytics.com/modes/predict/#inference-arguments

# General settings
device: None    # device to run on, i.e. cuda device=0/1/2/3 or device=cpu
save: False    # save video with results
project: '.'    # project name
name: '.'    # dir to save to
exist_ok: True    # don't create new dir when saving file

# Object detection settings
conf: 0.6    # object confidence threshold for detection
iou: 0.4    # intersection over union (IoU) threshold for NMS
max_det: 300    # maximum number of detections per frame

# Tracker settings
tracker: custom_fast.yaml    # tracker config, see ultralytics/tracker/cfg
stream: True    # whether the input source is a video stream
persist: False    # whether to persist the trackers if they already exist
vid_stride: 1    # video frame-rate stride

# Debug settings
show: True    # stream output during inference
debug: False    # print counter debug info
verbose: True    # whether the inference is verbose or not

# Show settings
line_width: 2    # the line width of the bounding boxes, if None, it is scaled to the image size
show_labels: True    # show box labels
show_conf: True    # show confidence score
boxes: True    # show boxes in segmentation predictions


# Settings for clip_maker

# Clip maker settings
source: '../main/webcams.csv'    # path to csv file, containing webcam urls. relevant to this dir
period: 70    # make a clip each period (s)
repeats: None    # if not None, make clips for each url REPEATS times
timeout_factor: 1    # timeout=period*timeout_factor for each process

# Clip settings
ext: 'mp4'    # clips extension
record_dir: None    # output dir, if None, writes to replays/clips
duration: 5    # clip duration (s)
fps: 7    # desired clip fps
max_height: 720    # output video will not exceed this height

# Train detector settings
tolerance: 4    # number of successes to detect train
max_angle: 0.3    # angle (rad) between 2 trajectory vectors

# Clip handler settings
sleep_factor: 1    # time to sleep if all clips handled, equals to period * sleep_factor
save_clips: True    # save clips with trains
clip_age: 20    # file age (s) after which handler can use it, helps to avoid permission errors

# Clip manager settings
gap_factor: 1    # when searching for clip start and length add safety gaps = period * (+-gap_factor)
